body {
  background-color: #38B9D5;
}

h1 {
  font-size: 3.125em;
  font-family: 'Merriweather', serif;
  padding: .25em .5em;
}

h2 {
  font-size: 2em;
  padding: .25em .5em;
}

h3 {
  font-size: 1.5em;
  padding: .25em .75em;
}

h4 {
  font-size: 1.25em;
  padding: .25em 1em;
}

p {
  font-size: 1em;
  padding: .25em 1em;
}

p strong {
  font-weight: bold;
}

p em {
  font-style: italic;
}

nav {
  width: 100%;
  height: 3.125em;
  display: inline-block;
}

audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  padding-top: 1.5%;
}

.links {
  text-align: center;
}


.links li {
  background-color: #494949;
  list-style: none;
  display: inline-block;
  line-height: 3.125em;
  box-shadow: 0.3125rem 0.3125rem black;
}


.links li a {
  display: block;
  text-decoration: none;
  font-family: none;
  color: white;
  font-size: 1.5em;
  padding: 0em 1em;
}

.links li a:hover {
  color: black;
}

.links li a.active {
  background-color: black;
  color: white;
  box-shadow: 0.3125rem 0.3125rem white;
}

.huatulco {
  background-color: #c2b280;
  color: #42692f;
}

.huatulco h1 {
  font-family: Impact, Charcoal, sans-serif
}

.huatulco img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  box-shadow: 0.6250em 0.6250em 0.3125em grey;
  border-radius: 15%;
}

.paige {
  background-color: #B153E3;
  text-align: center;
  font-family: 'Gochi Hand', cursive;
}

.paige ul {
  list-style-type: none;
}

.paige h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 400%;
}

.paige p {
  font-size: 150%;	
}

.paige section li {
  font-size: 125%;	
}

.paige img {
  border-radius: 5%;
}
